<div class="form">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" #title required>
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" #author required>
  </div>
  <div class="form-group">
    <label>Year</label>
    <input type="number" class="form-control" #year required>
  </div>
  <button type="submit" class="btn btn-primary" (click)="create(title.value, author.value, year.value)">Submit</button>
</div>
