<p>Active users</p>
<ul>
  <li *ngFor="let user of active; index as i">
    <span>{{i}}-{{user}}</span>
    <button (click)="listsService.deactiveUser(i)">Deactivate</button>
    <button (click)="listsService.removeActiveUser(i)">Remove</button>
  </li>
</ul>

<p>Inactive users</p>
<ul>
  <li *ngFor="let user of inactive; index as i">
    <span>{{i}}-{{user}}</span>
    <button (click)="listsService.activateUser(i)">Activate</button>
    <button (click)="listsService.removeInactiveUser(i)">Remove</button>
  </li>
</ul>

<app-new-user></app-new-user>
